&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;configuration&gt;
  &lt;configSections&gt;
    &lt;section name="defraSettings" type="System.Configuration.NameValueSectionHandler" /&gt;
  &lt;/configSections&gt;

  &lt;defraSettings&gt;
    &lt;add key="ApplicationName" value="TrainTrack Training Management System" /&gt;
    &lt;add key="ApplicationVersion" value="2.1.0" /&gt;
    &lt;add key="DepartmentCode" value="DEFRA" /&gt;
    &lt;add key="SystemOwner" value="HR Technology Team" /&gt;
    &lt;add key="SupportEmail" value="traintrack.support@defra.gov.uk" /&gt;
    &lt;add key="MaxSessionTimeoutMinutes" value="60" /&gt;
    &lt;add key="EnableAuditLogging" value="true" /&gt;
    &lt;add key="EnableEmailNotifications" value="true" /&gt;
  &lt;/defraSettings&gt;

  &lt;appSettings&gt;
    &lt;add key="ChartImageHandler" value="storage=file;timeout=20;" /&gt;
    &lt;add key="EnableErrorReporting" value="true" /&gt;
    &lt;add key="ErrorReportingEmail" value="system.errors@defra.gov.uk" /&gt;
    &lt;add key="DatabaseConnectionName" value="TrainTrackDatabase" /&gt;
    &lt;add key="LDAPServer" value="DEFRA-DC01.defra.gov.uk" /&gt;
    &lt;add key="LDAPDomain" value="DEFRA" /&gt;
    &lt;add key="UseWindowsAuthentication" value="true" /&gt;
    &lt;add key="MinPasswordLength" value="8" /&gt;
    &lt;add key="PasswordComplexityRequired" value="true" /&gt;
    &lt;add key="AccountLockoutThreshold" value="5" /&gt;
    &lt;add key="MaxUploadFileSizeMB" value="10" /&gt;
    &lt;add key="AllowedFileTypes" value=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.jpg,.png,.gif" /&gt;
    &lt;add key="TrainingCertificateTemplatePath" value="~/App_Data/Templates/Certificate.pdf" /&gt;
    &lt;add key="EmailSMTPServer" value="smtp.defra.gov.uk" /&gt;
    &lt;add key="EmailSMTPPort" value="587" /&gt;
    &lt;add key="EmailFromAddress" value="noreply@defra.gov.uk" /&gt;
    &lt;add key="EmailFromDisplayName" value="TrainTrack System" /&gt;
    &lt;!-- Calendar integration not yet implemented. Rooms and calendars managed via Outlook manually. --&gt;
    &lt;add key="CalendarIntegrationEnabled" value="false" /&gt;
    &lt;add key="ExchangeServerURL" value="https://exchange.defra.gov.uk/EWS/Exchange.asmx" /&gt;
    &lt;add key="ReportsOutputPath" value="~/App_Data/Reports/" /&gt;
    &lt;add key="AuditLogRetentionDays" value="2555" /&gt;
    &lt;add key="BackupRetentionDays" value="90" /&gt;
    &lt;add key="SessionTimeoutWarningMinutes" value="5" /&gt;
    &lt;add key="EnableMaintenanceMode" value="false" /&gt;
    &lt;add key="MaintenanceMessage" value="System is currently undergoing maintenance. Please try again later." /&gt;
  &lt;/appSettings&gt;

  &lt;connectionStrings&gt;
    &lt;add name="TrainTrackDatabase"
         connectionString="Data Source=DEFRA-SQL01\TRAINTRACK;Initial Catalog=TrainTrack_Production;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
         providerName="System.Data.SqlClient" /&gt;
    &lt;add name="AuditDatabase"
         connectionString="Data Source=DEFRA-SQL01\AUDIT;Initial Catalog=DefraAudit;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
         providerName="System.Data.SqlClient" /&gt;
    &lt;add name="ReportingDatabase"
         connectionString="Data Source=DEFRA-SQL01\REPORTING;Initial Catalog=TrainTrack_Reporting;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
         providerName="System.Data.SqlClient" /&gt;
  &lt;/connectionStrings&gt;

  &lt;system.web&gt;
    &lt;compilation debug="false" targetFramework="4.5" /&gt;
    &lt;httpRuntime targetFramework="4.5" maxRequestLength="10240" executionTimeout="600" /&gt;
    &lt;

    &lt;!-- Authentication --&gt;
    &lt;authentication mode="Windows" /&gt;
    &lt;authorization&gt;
      &lt;deny users="?" /&gt;
      &lt;allow users="*" /&gt;
    &lt;/authorization&gt;

    &lt;!-- Identity impersonation for Windows auth --&gt;
    &lt;identity impersonate="true" /&gt;

    &lt;!-- Session configuration --&gt;
    &lt;sessionState mode="InProc" timeout="60" cookieless="false" regenerateExpiredSessionId="true" /&gt;

    &lt;!-- HTTP Modules --&gt;
    &lt;httpModules&gt;
      &lt;add name="AuditModule" type="Defra.TrainTrack.Modules.AuditModule" /&gt;
      &lt;add name="SecurityModule" type="Defra.TrainTrack.Modules.SecurityModule" /&gt;
    &lt;/httpModules&gt;

    &lt;!-- Error handling --&gt;
    &lt;customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"&gt;
      &lt;error statusCode="404" redirect="~/NotFound.aspx" /&gt;
      &lt;error statusCode="500" redirect="~/ServerError.aspx" /&gt;
    &lt;/customErrors&gt;

    &lt;!-- Page compilation and view state --&gt;
    &lt;pages buffer="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="true" /&gt;

    &lt;!-- Globalization --&gt;
    &lt;globalization culture="en-GB" uiCulture="en-GB" /&gt;

    &lt;!-- Trust level --&gt;
    &lt;trust level="Full" /&gt;

    &lt;!-- Compilation assemblies --&gt;
    &lt;compilation&gt;
      &lt;assemblies&gt;
        &lt;add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /&gt;
        &lt;add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /&gt;
        &lt;add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /&gt;
        &lt;add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /&gt;
      &lt;/assemblies&gt;
    &lt;/compilation&gt;
  &lt;/system.web&gt;

  &lt;!-- Location-specific authorization --&gt;
  &lt;location path="UserManagement.aspx"&gt;
    &lt;system.web&gt;
      &lt;authorization&gt;
        &lt;allow roles="DEFRA\TrainTrack_Admins" /&gt;
        &lt;deny users="*" /&gt;
      &lt;/authorization&gt;
    &lt;/system.web&gt;
  &lt;/location&gt;

  &lt;location path="SystemSettings.aspx"&gt;
    &lt;system.web&gt;
      &lt;authorization&gt;
        &lt;allow roles="DEFRA\TrainTrack_Admins" /&gt;
        &lt;deny users="*" /&gt;
      &lt;/authorization&gt;
    &lt;/system.web&gt;
  &lt;/location&gt;

  &lt;location path="Reports.aspx"&gt;
    &lt;system.web&gt;
      &lt;authorization&gt;
        &lt;allow roles="DEFRA\TrainTrack_Admins,DEFRA\TrainTrack_Managers,DEFRA\TrainTrack_Reports" /&gt;
        &lt;deny users="*" /&gt;
      &lt;/authorization&gt;
    &lt;/system.web&gt;
  &lt;/location&gt;

  &lt;!-- Web.config for IIS 7+ --&gt;
  &lt;system.webServer&gt;
    &lt;validation validateIntegratedModeConfiguration="false" /&gt;
    &lt;defaultDocument&gt;
      &lt;files&gt;
        &lt;clear /&gt;
        &lt;add value="Default.aspx" /&gt;
        &lt;add value="Dashboard.aspx" /&gt;
      &lt;/files&gt;
    &lt;/defaultDocument&gt;

    &lt;!-- Static content caching --&gt;
    &lt;staticContent&gt;
      &lt;clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" /&gt;
    &lt;/staticContent&gt;

    &lt;!-- Compression --&gt;
    &lt;httpCompression&gt;
      &lt;dynamicTypes&gt;
        &lt;add mimeType="text/*" enabled="true" /&gt;
        &lt;add mimeType="message/*" enabled="true" /&gt;
        &lt;add mimeType="application/javascript" enabled="true" /&gt;
        &lt;add mimeType="*/*" enabled="false" /&gt;
      &lt;/dynamicTypes&gt;
      &lt;staticTypes&gt;
        &lt;add mimeType="text/*" enabled="true" /&gt;
        &lt;add mimeType="message/*" enabled="true" /&gt;
        &lt;add mimeType="application/javascript" enabled="true" /&gt;
        &lt;add mimeType="*/*" enabled="false" /&gt;
      &lt;/staticTypes&gt;
    &lt;/httpCompression&gt;

    &lt;!-- Security headers --&gt;
    &lt;httpProtocol&gt;
      &lt;customHeaders&gt;
        &lt;add name="X-Frame-Options" value="SAMEORIGIN" /&gt;
        &lt;add name="X-Content-Type-Options" value="nosniff" /&gt;
        &lt;add name="X-XSS-Protection" value="1; mode=block" /&gt;
      &lt;/customHeaders&gt;
    &lt;/httpProtocol&gt;

    &lt;modules&gt;
      &lt;add name="AuditModule" type="Defra.TrainTrack.Modules.AuditModule" preCondition="managedHandler" /&gt;
      &lt;add name="SecurityModule" type="Defra.TrainTrack.Modules.SecurityModule" preCondition="managedHandler" /&gt;
    &lt;/modules&gt;
  &lt;/system.webServer&gt;

  &lt;!-- Logging configuration --&gt;
  &lt;system.diagnostics&gt;
    &lt;trace autoflush="true" indentsize="2"&gt;
      &lt;listeners&gt;
        &lt;add name="TrainTrackTrace" type="System.Diagnostics.TextWriterTraceListener" initializeData="~/App_Data/Logs/TrainTrack.log" /&gt;
        &lt;remove name="Default" /&gt;
      &lt;/listeners&gt;
    &lt;/trace&gt;
  &lt;/system.diagnostics&gt;

  &lt;!-- Runtime configuration --&gt;
  &lt;runtime&gt;
    &lt;assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"&gt;
      &lt;dependentAssembly&gt;
        &lt;assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" /&gt;
        &lt;bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" /&gt;
      &lt;/dependentAssembly&gt;
    &lt;/assemblyBinding&gt;
  &lt;/runtime&gt;
&lt;/configuration&gt;